[buildout]
find-links = https://github.com/davisd50
versions = versions
extends =
    versions.cfg
    
eggs=
    
parts =
    sparcpy

[sparcpy]
recipe = zc.recipe.egg
eggs = 
    ${buildout:eggs}
interpreter = sparcpy

[versions]
#setuptools = 0.6c11