[sources]
sparc.common = git https://github.com/davisd50/sparc.common branch=develop
sparc.asset  = git https://github.com/davisd50/sparc.asset branch=develop
sparc.db     = git https://github.com/davisd50/sparc.db branch=develop
sparc.cache  = git https://github.com/davisd50/sparc.cache branch=develop
sparc.box    = git https://github.com/davisd50/sparc.box branch=develop
sparc.login  = git https://github.com/davisd50/sparc.login branch=develop
sparc.entity  = git https://github.com/davisd50/sparc.entity branch=develop
sparc.event  = git https://github.com/davisd50/sparc.event branch=develop
sparc.apps.cache = git https://github.com/davisd50/sparc.apps.cache branch=develop


[buildout]
extends =
    sparc.cfg

extensions +=
    mr.developer

parts +=
    omelette
    sparcpy

# mr.developer settings:
always-checkout = force
sources = sources
auto-checkout = *
always-accept-server-certificate = true
test-packages =
unzip = true

[omelette]
recipe = collective.recipe.omelette
eggs = 
    ${buildout:eggs}

[sparcpy]
# added this to support pyinstaller
recipe = zc.recipe.egg:script
#recipe = zc.recipe.egg
eggs = 
    ${buildout:eggs}
interpreter = sparcpy
# added this to support pyinstaller
dependent-scripts = true