[versions]
# Box
boxsdk = 1.1.7

# SQLAlchemy
SQLAlchemy = 1.0.5
pyinstaller = 3.0

# Not sure who requires this but 6.0 ends up requiring setuptools >= 0.7.0 which breaks stuff
zest.releaser = 5.7

# Required by:
# sparc.catalog==0.0.1
repoze.catalog = 0.8.3
zope.index = 4.1.0

